<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script>

</head>

<body ng-app="ex62">
    <div ng-controller="ctrl62">  
        <input type="number" name="n1" ng-model="n1">
        <label>Digite um valor</label>    
        <input type="number" name="n2" ng-model="n2">
        <label>Digite um valor</label>    
        <input type="number" name="op" ng-model="op">
        <label>Digite o valor da operação (1+,2-,3*,4/)</label> 
        {{ saida(n1,n2,op)}}
    </div>     
</body>
</html>
<script>

    var app = angular.module("ex62", [])
    app.controller("ctrl62", function($scope){
        $scope.saida = function(n1,n2,op){
            if (op == "1"){
                return n1+n2;
        }
            if (op == "2"){
                return n1-n2;
        }
            if (op == "3"){
                return n1*n2;
        }
            if (op == "4"){
                return n1/n2;
        }
        }
    })
</script>